.Rproj.user
.Rhistory
.RData
.Ruserdata
docs/
rsconnect/
materials/dataviz1/dataviz1_deck_files/
materials/dataviz1/dataviz1_template_files/
materials/dataviz2/dataviz2_deck_files/
materials/dataviz2/dataviz2_template_files/
materials/we_know_stuff
