#TOC {
  background: url("logo.png");
  background-size: contain;
  padding-top: 300px !important;
  background-repeat: no-repeat;
  border: 0;
  color: #000000;
  background-color: #1f9ac9;
  }

.list-group-item.active, .list-group-item.active:focus, .list-group-item.active:hover {
  background-color: #ebe934;
}

.list-group-item, .list-group-item:focus, .list-group-item:hover {
  background-color: #1f9ac9;
}
</style>

<style type="text/css">
@import url('https://fonts.googleapis.com/css?family=Libre+Franklin:100,200,300,400,500,700');
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,500,700');
@import url('https://fonts.googleapis.com/css?family=Anonymous+Pro:400');

body{ /* Normal  */
  font-size: 18px;
  font-family: 'Libre+Franklin', sans-serif;
  font-weight:100;
  color: #262728;
}

.figure {
  margin-top: 50px;
  margin-bottom: 50px;
}

table {
  margin-top: 50px;
  margin-bottom: 50px !important;
}

h1.title {
  font-size: 80px;
  color: #1f9ac9;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight:700;
  padding-top: 0px !important;
  margin-top: 20px !important;
}

h3.subtitle {
  font-size: 40px;
  color: #A9A9A9;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight:800;
  font-style: normal;
}

em {
  font-style: normal;
}


h1 {
  font-size: 40px;
  color: #1f9ac9;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight:700;
  margin-top: 50px;
}

h2 {
  font-size: 30px;
  color: #ebe934;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight:500;
}

td {
   font-size: 15px;
   font-family: 'Anonymous Pro';
}

code.r {
  font-size: 15px;
  font-family: 'Anonymous Pro';
}

pre {
  font-size: 15px;
  font-family: 'Anonymous Pro';
  margin-top: 40px;
  margin-bottom: 40px !important;
}

div.main-container {
  max-width: 1200px;
  text-align: justify;
  text-justify: inter-word;
}

p
{
  margin-left: 0.5em;
  margin-top: 0em;
  margin-bottom: 1.5em;
}

hl {
    background-color: #FFC20E;
}

in {
    color: #F37021;
}

/* unvisited link */
a:link {
    color: #1f9ac9;
}

/* visited link */
a:visited {
    color: #1f9ac9;
}

/* mouse over link */
a:hover {
    color: #1f9ac9;
}

/* selected link */
a:active {
    color: #1f9ac9;
}
